<h4 *ngIf="urlData != 'Explore'; else elseBlock" class="colorWhite">Grab {{urlData}}</h4>
<ng-template #elseBlock><h2 class="colorWhite">{{urlData}} Nearby</h2></ng-template>
  <div>
    <h6 class="colorWhite">What is your price range?</h6>
    <div class="btn-group dropright">
      <button class="btn btn-secondary btn-lg dropdown-toggle transparentButtons mb40" [ngClass]= "{'bgRed': priceFlag}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{priceTitle}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button *ngFor="let price of prices" class="dropdown-item ft12 textDecoratorNone" type='button' (click)="clickPrice(price)">{{price}}</button>
      </div>
    </div>
  </div>
  
  <div>
    <h6 *ngIf="urlData === 'Food'" class="colorWhite">What do you feel like eating?</h6>
    <h6 *ngIf="urlData === 'Drinks'" class="colorWhite">What type of drink are you feeling?</h6>
    <h6 *ngIf="urlData === 'Explore'" class="colorWhite">What do you want to explore nearby?</h6>
    <div class="btn-group dropright">
      <button class="btn btn-secondary btn-lg dropdown-toggle transparentButtons mb40" [ngClass]= "{'bgRed': menuFlag}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{menuTitle}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button *ngFor="let value of dropdownValues" class="dropdown-item ft12 textDecoratorNone" type='button' (click)="clickMenu(value)">{{value}}</button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-secondary btn-lg" [disabled]="!priceFlag || !menuFlag" [ngClass]="{'bgRed': priceFlag && menuFlag}">
    <span *ngIf="priceFlag && menuFlag; else notSelected">QUICK TRIP!</span>
    <ng-template #notSelected><span>SELECT OPTIONS</span></ng-template>
  </button>
